h1 {
  margin: 4px 10px 4px 10px;
  font-family: monospace;
}

body {
  color:whitesmoke;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: Arial;
}
.titlediv {
  width:100%;
  height: 30px;
  background-color: #000000;
  color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 4px 0px 0px 4px;
  font-size: 18pt;
  font-variant-caps: small-caps;
  font-weight: 600;
  font-stretch: extra-expanded;
  letter-spacing: 1px;
}


.addAll {
    position:fixed;
    color:white;
    border:1px solid #CCC;
    background:#656565;
    box-shadow: 0 0 7px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}
.addAll:active {
    color: black;
    box-shadow: 0 0 7px -1px rgba(0,0,0,0.8);
}

.toolButton {
    position: absolute;
    color: #000000;
    border:1px solid #9e9e9e;
    background:#d0d0d0;
    box-shadow: 0 0 7px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    
    padding: 0px;
    text-align: center;
}
.toolButton:active {
    color: black;
    box-shadow: 0 0 7px -1px rgba(0,0,0,0.8);
}

.csfcofcell {
  position: absolute;
  background-color: #ffffff;
  color: black;
  padding: 5px;
  font-size: 12px;
  display: inline-block;
  vertical-align:middle;
  text-align: center;
  cursor: pointer;
}
.csfcofcell:hover {
  box-shadow: 0 0 7px -1px rgba(0,0,0,0.8);
}

.subtitlediv {
  height: 30px;
  background-color: #000000;
  color: whitesmoke;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 4px 0px 0px 4px;
  font-size: 18pt;
  font-variant-caps: small-caps;
  font-weight: 600;
  font-stretch: extra-expanded;
  letter-spacing: 1px;
}
.indivdiv {
    background: #dedede;
    color: #000000;
    border-bottom-right-radius: 7px;
    font-family: sans-serif;
    font-size: 12.5pt;
    padding: 4px;
    padding-right: 8px;
    height: 20px;
    position: absolute;
}

.csfcoftable {
  position: absolute;
  top: 5px;
  right: 110px;
  width: 147px;
  background-color: #111111;
  color: whitesmoke;
  z-index: 3;
  padding: 5px;
  font-size: 15pt;
  border: solid 2px #ffffff;
  display: inline-block;
}
.csfcoftable:hover {
  background-color: #333333;
}

.subjectdiv {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 80px;
  background-color: #111111;
  color: whitesmoke;
  z-index: 3;
  padding: 5px;
  font-size: 15pt;
  border: solid 2px #ffffff;
  display: inline-block;
}
.subjectdiv:hover {
  background-color: #333333;
}
.subjectSeldiv {
  width: 80px;
  background-color: #111111;
  color: whitesmoke;
  position: fixed;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 4;
  border-style: solid;
  padding: 5px;
  font-size: 14pt;
}

.quaddiv {
  position: absolute;
  color: black;
  cursor: pointer;
  z-index: 3;
  display: inline-block;
  text-align: center;
  font-size: 13pt;
}
.quaddivHead {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 155px;
  background-color: #444444;
  color: whitesmoke;
  z-index: 3;
  padding: 5px;
  font-size: 15pt;
  display: inline-block;
}
.quadItemdiv {
  position: absolute;
  background-color: #797979;
  color: whitesmoke;
  cursor: pointer;
  z-index: 3;
  display: inline-block;
  text-align: center;
  font-size: 13pt;
}
.quadItemdiv:hover {
  background-color: #010101;
}
.quadcircdiv {
  height: 28px;
  width: 28px;
  background-color: #f9f9f9;
  color: black;
  cursor: pointer;
  z-index: 3;
  padding: 7px;
  border: 1px solid #b3a9a9;
  border-radius: 23px;
  display: inline-block;
  margin-top: 7px;
  text-align: center;
  font-size: 13pt;
}

.componentTitle{
  position: absolute;
  height:25px;
  color: #ffffff;
  background-color: #444444;
  padding: 0px 5px 0px 5px;
  font-size: 15pt;
}
.controlDiv {
  position: fixed;
  display: inline-block;
  background-color: #ffffff;
  overflow: hidden;
  padding: 0px;
}
.svgdiv {
  position: fixed;
  height: 100%;
  background-color: #ffffff;
}
.svgStdiv {
  position: fixed;
  height: 100%;
  color: #000000;
  background-color: #ffffff;
}
.utildiv {
  overflow: hidden;
  position: fixed;
  height: 100%;
  background-color: #656565;
}
.dataSelectDiv {
  overflow-y: auto;
  position: fixed;
  background: #ababab;
}
.svgTableDiv {

  position: fixed;
  height: 100%;
  background-color: #2f2f2f;
  opacity: 0.95;
  border: 20px #949494  solid;
}
.tabButton{
  padding: 4px;
  font-size: 14px;
  border-style: solid;
  cursor: pointer;
  width: 85px;
  margin-right: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.toggleButton{
  padding: 0px;
  font-size: 14px;
  border-style: solid;
  cursor: pointer;
  width: 56px;
  height: 56px;
  margin: 10px 6px 10px 6px;
}
.closeButton {
  display: block;
  position: absolute;
  right: 0px;
  margin: 5px;
  color: white;
  padding: 6px 12px 6px 12px;
  font-size: 14px;
  cursor: pointer;
  background: #da2020;
  border-radius: 3px;
  border: none;
  border-bottom: 2px solid #a01616;
}
.dataButton {
  display: block;
  margin: 15px auto 2em auto;
  background-color: #1abc9c;
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #16a085;
  cursor: pointer;
}
.dataButton:hover {
  background-color: #1dd8b3;
}
.zoomButton{
  position: absolute;
  background-color: #1abc9c;
  color: white;
  padding: 1px;
  font-size: 10pt;
  cursor: pointer;
  width: 25px;
  border: none;
  border-radius: 2px;
  border-bottom: 2px solid #16a085;
  margin-top: 5px;
}
.vizScaleButton {
  position: absolute;
  background-color: #1abc9c;
  color: white;
  font-size: 12px;
  padding: 2px;
  right:0px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}
.menuButton {
  display: block;
  background-color: #524545;
  width:100%;
  color: white;
  padding: 8px;
  font-size: 10pt;
  border: none;
  cursor: pointer;
  margin-top: 2px;
}
.menuButton:hover {
  background-color: #1abc9c;
}
.vizSelect {
  position: absolute;
  background-color: #9c9c9c;
  color: white;
  font-size: 12px;
  right:0px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #818181;
  margin: 3px 3px 3px 3px;
  z-index: 5;
}
.vizInsight {
  position: absolute;
  background-color: #c5c2c2;
  color: whitesmoke;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  margin: 3px 3px 3px 3px;
  z-index: 5;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.vizInsight:hover {
  color: #fbf300;
  background-color: #fbf300;
}
.deselectBtn{
  position: absolute;
  top: 30px;
  right: 2px;
  display: block;
  background-color: #bc1a1a;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #a01616;
  cursor: pointer;
}
.dataSelectTile {
  display: table;
  margin: 2px auto 2px auto;
  position: absolute;
  padding: 5px 10px 5px 5px;
}

.subjectSelect {
  position: absolute;
  width: 152px;
  top: 10px;
  left: 0px;
  background-color: #656565;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #6d6d6d;
  border-bottom: 2px solid #6d6d6d;
  margin: 5px 5px 5px 5px;
  z-index: 5;
}
.metaSelect {
  display: inline-block;
  width: 136px;
  background-color: #d0d0d0;
  color: black;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid #b3a9a9;
  margin: 5px 5px 5px 5px;
  z-index: 5;
}
.expandLabel{
  color: #000000;
  font-Size: 13pt;
  right: 7px;
  font-weight: 700;
  top: 0px;
  position: absolute;
  width: 60px;
  text-align: center;
}
.expand{
  color: #444444;
  font-Size: 35pt;
  right: 16px;
  top: 41px;
  position: absolute;
}
.expand:hover {
  color: #000000;
  cursor: pointer;
}

.collapse{
  color: #000000;
  font-Size: 27pt;
  right: 7px;
  position: absolute;
}
.collapse:hover {
  color: #333333;
  cursor: pointer;
}

.popupGridTile {
  display: table;
  position: absolute;
  padding: 5px 5px 5px 5px;
}

.popupGrid {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 17;
  display: block;
}

.generalButton {
  display: block;
  margin: 15px auto 2em auto;
  background-color: #656565;
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #7b7b7b;
  cursor: pointer;
}
.generalButton:hover {
  background-color: #252525;
}


svg {
  display: block;
}
g {
  font-family: sans-serif;
}
.selection {
  fill-opacity: .17;
}

.tableTitle {
  display: inline-block;
  white-space: pre;
  color: #ffffff;
  background: #797979;
  font-style: italic;
  font-size: 18px;
  font-variant-caps: small-caps;
  font-family: sans-serif;
  padding: 4px 7px 7px 7px;
  margin-left: 5px;
  margin-top: 5px;
  z-index: 3;
}
.vizTable {
  border-collapse: collapse;
  padding: 2px;
  margin: auto;
}
tr.vizTableHead{
  background-color: #106d5b;
  color: white;
}
.vizTableCell{
  max-width: 80px;
  overflow: hidden;
  padding: 3px 6px 3px 6px;
  border-color: white;
  border-right-style: solid;
  border-width: 2px;
}
tr.vizTableRow:nth-child(even){background-color: #ffffff}
tr.vizTableRow:nth-child(odd){background-color: #f5f5f5}

::-webkit-scrollbar {
  width: 10px;
  height: 10px
}
/* Track */
::-webkit-scrollbar-track {
  background: #b7b7b7;
  border-radius: 25px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
